/* montserrat-alternates-regular - latin_cyrillic */

@font-face {
    font-family: 'Asgard';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/Asgard/Asgard-Light.ttf') format('truetype');

}
@font-face {
    font-family: 'Asgard';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Asgard/Asgard-Regular.ttf') format('truetype');

}
@font-face {
    font-family: 'Asgard';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/Asgard/Asgard-Medium.ttf') format('truetype');

}
@font-face {
    font-family: 'Asgard';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/Asgard/Asgard-Bold.ttf') format('truetype');

}
@font-face {
    font-family: 'Asgard';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Asgard/Asgard-Bold.ttf') format('truetype');

}

/* montserrat-alternates-regular - latin_cyrillic */

@font-face {
    font-family: 'AsgardFit';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/Asgard/Asgard-FitLight.ttf') format('truetype');

}
@font-face {
    font-family: 'AsgardFit';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Asgard/Asgard-FitRegular.ttf') format('truetype');

}
@font-face {
    font-family: 'AsgardFit';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/Asgard/Asgard-FitMedium.ttf') format('truetype');

}
@font-face {
    font-family: 'AsgardFit';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/Asgard/Asgard-FitBold.ttf') format('truetype');

}
@font-face {
    font-family: 'AsgardFit';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Asgard/Asgard-FitBold.ttf') format('truetype');

}

/* montserrat-alternates-regular - latin_cyrillic */

@font-face {
    font-family: 'AsgardWide';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/Asgard/Asgard-WideLight.ttf') format('truetype');

}
@font-face {
    font-family: 'AsgardWide';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Asgard/Asgard-WideRegular.ttf') format('truetype');

}
@font-face {
    font-family: 'AsgardWide';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/Asgard/Asgard-WideMedium.ttf') format('truetype');

}
@font-face {
    font-family: 'AsgardWide';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/Asgard/Asgard-WideBold.ttf') format('truetype');

}
@font-face {
    font-family: 'AsgardWide';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Asgard/Asgard-WideBold.ttf') format('truetype');

}
