main {
  font-family: 'AsgardWide', sans-serif;
}
html{
  scroll-behavior: smooth;
}
 body{
  scroll-behavior: smooth;
 }
h1 {
  font-family: 'AsgardWide', sans-serif;
  font-weight: 700;
  font-size: 5.1vw;
  line-height: 1.2;

}

h2 {
  font-family: 'AsgardWide', sans-serif;
  font-weight: 700;
  font-size: 3.1vw;
  line-height: 1.3;
}

h3 {}

img {
  object-fit: cover;
}

input {
  border: none;
  outline: none;
  transition: all 0.8s;
}

a {
  cursor: pointer;
}

.main input:hover,
.main input:focus,
.main input:active {}

.container {
  display: block;
  width: calc(100% - 4.2vw);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}


.text-bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.active {
  display: block !important;
}
.sub-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 1.26vw;
line-height: 1.3;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.dark .main-nav__link{
  color: #ffffff;
}
.dark{
  .burger__line{
    background-color: #ffffff;
  }
}
.mein-video-mob{
  display: none;
}
.mein-video-dek{
  display:  block;
}

@media (min-width: 480px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}
@media (min-width: 1200px) {
  .dextop-hidden{
    display: none;
  }
}

@media (min-width: 1686px) {}

@media (max-width: 1199px) {
  .mein-video-dek{
    display: none;
  }
  .mein-video-mob{
    display: block;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 5vw);

  }
}

@media (max-width: 479px) {
  .container {
    width: calc(100% - 9vw);

  }
}